.app {
  .spinner-container {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;

    .spinner-border {
      height: 4rem !important;
      width: 4rem !important;
    }
  }

  .alert-container {
    padding: 10px 15px;

    .alert-message {
      display: flex;
      justify-content: center;
    }
  }
  &.app-mobile {
  }

  &.app-tablet {
    padding: 10px 50px;
  }

  &.app-desktop {
    padding: 20px 50px;
  }
}
