body {
  margin: 0;
  padding: 10px 0;
  font-family: 'Strait', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #05011f !important;
  color: #ccccb3 !important;
}
